html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: #343b4a;
	color: white;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.chat {
	box-sizing: border-box;
	background-color: #101727;
	border: 1px solid rgb(6, 22, 61);
	width: 100%;
	padding: 5px;
	overflow-y: auto;
}

.chat::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: rgb(165, 171, 221);
}

.chat::-webkit-scrollbar {
	visibility: hidden;
	width: 10px;
	border-radius: 3px;
}

.chat::-webkit-scrollbar-thumb {
	background-color: rgb(59, 59, 105);
	border-radius: 3px;
}

.messageSend {
	border: 1px solid rgb(6, 22, 61);
	border-top: none;
	height: 40px;
	background-color: #212735;
	width: 100%;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.messageInput {
	flex: 100%;
	outline: none;
	background-color: inherit;
	border: 0;
	padding: 0;
	height: 40px;
	color: white;
	padding-left: 15px;
}

.buttonSend {
	background-color: inherit;
	height: 40px;
	width: 100px;
	border: 0;
	outline: none;
	color: rgb(115, 121, 136);
}

.buttonSend:hover {
	color: rgb(190, 190, 190);
	cursor: pointer;
}

.buttonSend:active {
	background-color: rgb(25, 27, 32);
}

.messageContainer {
	display: flex;
	margin: 5px 0;
	width: 100%;
	text-align: center;
	justify-content: start;
}

.outText {
	background: #49498c;
}

.inText {
	background: #333e56;
}

.message {
	text-align: left;
	padding: 10px;
	margin: 0 20px;
	border-radius: 5px;
	font-size: 13px;
	max-width: 350px;
	word-break: break-all;
}

.time {
	font-size: 9px;
	color: rgb(152, 152, 214);
	margin-left: 10px;
	float: right;
}

.name {
	font-size: 10px;
	margin-bottom: 5px;
}

.systemMsg {
	margin: 0 auto;
	font-size: 12px;
}

.drag-right {
	justify-content: flex-end;
}

.modal {
	position: fixed;
	z-index: 1;
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
}

.modalContent {
	background-color: #343b4a;
	height: 100px;
	width: 300px;
	box-sizing: border-box;
	/* padding: 15px; */
	border-radius: 10px;
	position: relative;
	margin: auto;
}

.modalHeader {
	display: flex;
	justify-content: flex-end;
}

.modalHeader>span {
	flex: 100%;
	padding-top: 5px;
	margin: 10px;
	margin-left: 95px;
}

.close {
	margin: 5px;
	width: 20px;
}

.loginSend {
	display: flex;
}

.login {
	flex: 100%;
	outline: none;
	background-color: inherit;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0;
	height: 40px;
	color: white;
	padding-left: 15px;
	margin-left: 20px;
}

.displayNone {
	display: none;
}

.form-group {
	padding: 0;
	margin: 10px 10px 0 10px;
	width: 10px;
}

input[type=file] {
	position: absolute;
	bottom: 5px;
	outline: 0;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	width: 10px;
}

.label {
	width: 15px;
	height: 20px;
	display: block;
	padding: 0;
	cursor: pointer;
	text-align: center;
	margin: 0;
}

.label i {
	display: block;
	font-size: 20px;
}

.label i, .label .title {
	color: rgb(115, 121, 136);
	transition: 200ms color
}

.title {
	font-size: 12px;
}

/* .label:hover {
	border: 2px solid #000
} */

.label:hover i, .label:hover .title {
	color: rgb(190, 190, 190);
}

.badge {
	margin-left: 20px;
	height: 30px;
	background-color: #49498c;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.badge:hover {
	cursor: pointer;
}

.badge:hover .imgClose {
	color: black;
}

.badge_opacity_0 {
	display: none;
}

.imgInfo {
	overflow: hidden;
	max-width: 100px;
	padding: 0 5px 0 5px;
	font-size: 12px;
}

.imgSize {
	max-width: 100%
}

.FormFile {
	display: flex;
}

.imgClose {
	padding: 3px;
	font-size: 10px;
}
